*{
    box-sizing: border-box;

    
}
body{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: rgb(250, 250, 250);
    
}
header h1{
    font-family: sans-serif;
    font-weight: 600;
    
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding-bottom: 20px;
    font-size: 20px;
}
span{
    font-weight: 100;
    padding-top: 15px;
}


table,th,td{
    border-collapse: collapse;
    border: 1px solid rgba(128, 128, 128, 0.205);
    margin-left: auto;
    margin-right: auto;

        
    
    
}
th,td{
    padding: 20px 50px;
    word-spacing: 1.5px;
    line-height: 2;
    
}
.bold{
    font-weight: bolder;
    font-size: 20px;
}
.row-color{
    background-color: rgba(128, 128, 128, 0.205);
}
.check-tick{
    color: green;
    font-size: 20px;
}
.check-cross{
    color: red;
    font-size: 20px;
}
.align{
    text-align: left;
    justify-content: left;
}
.box{
    border: none;
    background-color: rgb(224, 72, 123);
    color: white;
    padding: 10px 30px;
}
